# ignore txt files of data
txt/*
data*/

# ignore model outputs
log/
model/
output/

# ignore misc stuff in etc
etc/*

# ignore data
mat/Pilot_S19/*

# ignore zip
mat/Pilot_S19.zip

# ignore labeled text files
files16hz/*
